body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(107 116 133 / 22%);
}
footer {
  font-size: 12px;
  color: rgb(141, 153, 175);
}

footer a {
  color: rgba(47, 51, 59, 0.822);
}
footer a:hover {
  color: white;
}
.container {
  color: #ffffff;
  display: block;
  max-width: 530px;
  min-width: 350px;
}
